#site-logo {
  position:absolute;
left:0;
right:0;
margin-left:auto;
margin-right:auto;
height: 3em;
padding-top: 0.5em;
}

#nav {
  border-bottom: 1px solid black;
  background-color: #ff8080;
}


ul {
  list-style-type: none;
  padding: 0;
}

.table-details {
  padding-top: 1em;
}

.table-body-cust,
.table-body-cust tr {
  border: .2em solid black;
}

.table-head-cust {
  background-color: ivory;
  border: .2em solid black;
}

.table-head-cust tr th {
  text-align: center;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
    z-index: -2;}

#spinner {
position: fixed;
  top: 50%;
  left: 48%;
    z-index: 1;
}


#reviews {
    height: 200px;
}

.review-box {
  overflow: auto;
}

.reviews {
  padding-bottom: 2em;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}
// in case your dealing with a inline element apply this to the parent
.text-center {
   text-align:center
}

#from {
  position: absolute;
  top:70px;
  right: 30px;
}

#contacts-container {
  border: .2em solid black;
}

#profile-photo {
  border-radius: 100%;
  height: 15em;
  width: 15em;
  border: .13em solid black;
}

.loc-label-data {
  padding-right: .5em;
}

.loc-label-data,
.loc-detail-data  {
  padding-bottom: 1em;
}

.navitem {
  color: black;
  font-size: 1.08em;
}

#places {
  position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   margin-top: 50px;
   background-color: ivory;
   border-right: 3px solid black;
   color: black;
   overflow: auto;
}
.card{
  border: 1px solid black;
  margin-top: 1em;
  padding: .5em;
  background-color: #F9FDFF;

}

.card-img-top{
  border: .2em solid black;
  text-align: center;
  width: 100%;
  height: 10em;
}

.google-logo {
  height: 70px;
  width: 100px;
}

.google-logo-rating-modal {
  height: 65px;
  width: 85px;
}

#modal-marker-icon {
  height: 35px;
  width: 30px;
}
.row {
  padding-top: 50px;
}

.card-header{
position:absolute;
  top:0;
  right: 0;
}

.card-footer{
position:absolute;
  bottom:0;
  left: 0;
  width:100%;
}

/* <input-star></input-star> directive */
.angular-input-stars {

  display: inline-block;
  padding: 0;
  margin-left: -5px;
  list-style: none;

}

.angular-input-stars > li {
  display: inline-block;
  cursor: pointer;

}

.angular-input-stars > li i.readonly {
  cursor: not-allowed;
}

.angular-input-stars > li .active {

    color: #FDE35E;
    text-shadow: black 0 0 1px, 0 0 1px ;

}

.angular-input-stars > li .active.angular-input-stars-hover {
  text-shadow: black 0 0 3px;
}

.grow img:hover {
    -webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}

 #editing-profile-image {
    height: 400px;
    width: 400px;
  }


